Repository swap-it-all/swap-it-be, pull requests merged in 2025-02, with the labels that each got.

#8 [feat] 기본 응답/에러 클래스 생성
  src/main/java/com/example/swapit/common/api/ApiResponse.java
  src/main/java/com/example/swapit/common/api/ErrorResponse.java
  src/main/java/com/example/swapit/common/exception/CustomException.java
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/common/exception/GlobalExceptionHandler.java
Labels: ✨ feature

#9 [feat] 물건 CRUD 구현 (조회는 단건 조회)
  src/main/java/com/example/swapit/common/api/ApiResponse.java
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/common/exception/GlobalExceptionHandler.java
  src/main/java/com/example/swapit/controller/.gitkeep
  src/main/java/com/example/swapit/controller/GoodsController.java
  src/main/java/com/example/swapit/domain/.gitkeep
  src/main/java/com/example/swapit/domain/Goods.java
  src/main/java/com/example/swapit/domain/dto/.gitkeep
  src/main/java/com/example/swapit/domain/dto/GoodsDetailDto.java
  src/main/java/com/example/swapit/domain/dto/GoodsDto.java
  src/main/java/com/example/swapit/domain/dto/GoodsRequestDto.java
  src/main/java/com/example/swapit/domain/dto/UserProfileDto.java
  src/main/java/com/example/swapit/repository/.gitkeep
  src/main/java/com/example/swapit/repository/CategoriesRepository.java
  src/main/java/com/example/swapit/repository/GoodsRepository.java
  src/main/java/com/example/swapit/repository/UsersRepository.java
  src/main/java/com/example/swapit/service/.gitkeep
  src/main/java/com/example/swapit/service/GoodsService.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/main/resources/application.properties
  src/main/resources/application.yaml
  src/test/java/com/example/swapit/domain/JpaAuditingTest.java
  src/test/java/com/example/swapit/service/GoodServiceTest.java
Labels: ✨ feature, 🔧 fix, 🕹️ test

#10 [feat] 물건 목록 조회 Repository 구현
  build.gradle
  src/main/java/com/example/swapit/config/QueryDslConfig.java
  src/main/java/com/example/swapit/controller/GoodsController.java
  src/main/java/com/example/swapit/domain/Goods.java
  src/main/java/com/example/swapit/domain/GoodsImages.java
  src/main/java/com/example/swapit/domain/dto/GoodsListDto.java
  src/main/java/com/example/swapit/repository/CustomGoodsRepository.java
  src/main/java/com/example/swapit/repository/CustomGoodsRepositoryImpl.java
  src/main/java/com/example/swapit/repository/GoodsRepository.java
  src/main/java/com/example/swapit/service/GoodsService.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/test/java/com/example/swapit/repository/GoodsRepositoryTest.java
  src/test/java/com/example/swapit/service/GoodServiceTest.java
Labels: ✨ feature, 🐚 domain, 🔧 fix, 🎈 refactor, 🕹️ test, 🪴 build

#11 구글, 카카오 소셜 로그인 구현 및 테스트 코드 작성
  .gitignore
  build.gradle
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/config/.gitkeep
  src/main/java/com/example/swapit/config/AppConfig.java
  src/main/java/com/example/swapit/config/security/SecurityConfig.java
  src/main/java/com/example/swapit/config/security/jwt/JwtAuthenticationToken.java
  src/main/java/com/example/swapit/config/security/jwt/JwtProvider.java
  src/main/java/com/example/swapit/config/security/jwt/JwtService.java
  src/main/java/com/example/swapit/controller/AuthController.java
  src/main/java/com/example/swapit/domain/Tokens.java
  src/main/java/com/example/swapit/domain/Users.java
  src/main/java/com/example/swapit/domain/dto/TokenDTO.java
  src/main/java/com/example/swapit/domain/dto/UserResponseDTO.java
  src/main/java/com/example/swapit/repository/TokensRepository.java
  src/main/java/com/example/swapit/repository/UsersRepository.java
  src/main/java/com/example/swapit/service/AuthService.java
  src/main/java/com/example/swapit/service/AuthServiceImpl.java
  src/main/java/com/example/swapit/util/Constant.java
  src/main/resources/application.yaml
  src/test/java/com/example/swapit/controller/AuthControllerTest.java
  src/test/java/com/example/swapit/domain/JpaAuditingTest.java
  src/test/java/com/example/swapit/service/AuthServiceTest.java
Labels: ✨ feature, 🐚 domain, 🫡 chore, 🎈 refactor, 🕹️ test, 🪴 build

#15 [ci] 테스트용 api 설계
  build.gradle
  src/main/java/com/example/swapit/controller/GoodsController.java
Labels: 🐬CI / CD, 🫡 chore, 🪴 build

#17 [feature] 헤더의 액세스 토큰 검증하는 필터 추가
  src/main/java/com/example/swapit/config/security/CustomUserDetails.java
  src/main/java/com/example/swapit/config/security/CustomUserDetailsService.java
  src/main/java/com/example/swapit/config/security/SecurityConfig.java
  src/main/java/com/example/swapit/config/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/example/swapit/controller/UserController.java
  src/main/java/com/example/swapit/domain/Users.java
Labels: ✨ feature

#18 [fix] 물건 조회 repository 동적 쿼리 변경
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/config/security/jwt/JwtProvider.java
  src/main/java/com/example/swapit/controller/GoodsController.java
  src/main/java/com/example/swapit/repository/CustomGoodsRepository.java
  src/main/java/com/example/swapit/repository/CustomGoodsRepositoryImpl.java
  src/main/java/com/example/swapit/service/GoodsService.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/main/java/com/example/swapit/util/Constant.java
  src/main/resources/application-jwt.yaml
  src/main/resources/application.yaml
  src/test/java/com/example/swapit/repository/GoodsRepositoryTest.java
Labels: 🛠️ hotfix, 🫡 chore, 🪴 build

#19 [feat] Goods CRUD에 JWT 회원으로 적용 + 내 물건 목록 조회 기능 추가
  src/main/java/com/example/swapit/common/api/ApiResponse.java
  src/main/java/com/example/swapit/config/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/example/swapit/controller/GoodsController.java
  src/main/java/com/example/swapit/domain/Categories.java
  src/main/java/com/example/swapit/domain/GoodsImages.java
  src/main/java/com/example/swapit/domain/dto/GoodsDto.java
  src/main/java/com/example/swapit/domain/dto/GoodsRequestDto.java
  src/main/java/com/example/swapit/repository/GoodsRepository.java
  src/main/java/com/example/swapit/service/CurrentUserService.java
  src/main/java/com/example/swapit/service/CurrentUserServiceImpl.java
  src/main/java/com/example/swapit/service/GoodsService.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/test/java/com/example/swapit/controller/GoodsControllerTest.java
  src/test/java/com/example/swapit/domain/JpaAuditingTest.java
  src/test/java/com/example/swapit/repository/GoodsRepositoryTest.java
  src/test/java/com/example/swapit/service/GoodServiceTest.java
Labels: ✨ feature, 🐚 domain, 🔧 fix, 🕹️ test

#21 [fix] 엔티티 id 자동증가 적용되도록 자동생성전략 설정
  src/main/java/com/example/swapit/domain/Notifications.java
  src/main/java/com/example/swapit/domain/Trades.java
  src/main/resources/application-prd.yaml
  src/test/java/com/example/swapit/controller/GoodsControllerTest.java
Labels: 🐚 domain, 🛠️ hotfix

#22 [fix] cursor 이후 데이터 조회 시, 현재 데이터 포함하는 에러 해결
  src/main/java/com/example/swapit/common/api/ErrorResponse.java
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/common/exception/GlobalExceptionHandler.java
  src/main/java/com/example/swapit/controller/GoodsController.java
  src/main/java/com/example/swapit/repository/CustomGoodsRepositoryImpl.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
Labels: 🪲 bug, 🔧 fix

#23 [feat] 물건 조회 시, viewCount 증가 구현
  src/main/java/com/example/swapit/domain/Goods.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
Labels: ✨ feature, 🔧 fix

#25 feature: 거래 요청, 취소 구현
  build.gradle
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/controller/TradesController.java
  src/main/java/com/example/swapit/domain/Trades.java
  src/main/java/com/example/swapit/domain/dto/TradesRequestDto.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/TradesService.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/com/example/swapit/controller/TradesControllerTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🐚 domain, 🫡 chore, 🕹️ test

#31 feat: 거래 요청 시 개수 및 중복 요청 제한 추가
  .gitignore
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/domain/Trades.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🕹️ test

#32 [feat] image s3 업로드 연결
  build.gradle
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/common/exception/GlobalExceptionHandler.java
  src/main/java/com/example/swapit/config/AwsS3Config.java
  src/main/java/com/example/swapit/controller/GoodsController.java
  src/main/java/com/example/swapit/domain/Goods.java
  src/main/java/com/example/swapit/domain/GoodsImages.java
  src/main/java/com/example/swapit/domain/dto/GoodsDetailDto.java
  src/main/java/com/example/swapit/domain/dto/GoodsDto.java
  src/main/java/com/example/swapit/domain/dto/GoodsImageDto.java
  src/main/java/com/example/swapit/domain/dto/GoodsRequestDto.java
  src/main/java/com/example/swapit/repository/GoodsImagesRepository.java
  src/main/java/com/example/swapit/service/AwsS3Service.java
  src/main/java/com/example/swapit/service/AwsS3ServiceImpl.java
  src/main/java/com/example/swapit/service/GoodsService.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-prd.yaml
  src/main/resources/application-s3.yaml
  src/main/resources/application.yaml
  src/test/java/com/example/swapit/controller/GoodsControllerTest.java
  src/test/java/com/example/swapit/service/AwsS3ServiceTest.java
  src/test/java/com/example/swapit/service/GoodServiceTest.java
Labels: ✨ feature, 🐚 domain, 🪴 build

#34 [feat] 유저 프로필 이미지 변경
  src/main/java/com/example/swapit/controller/UserController.java
  src/main/java/com/example/swapit/domain/Users.java
  src/main/java/com/example/swapit/service/AuthServiceImpl.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/main/java/com/example/swapit/service/UsersService.java
  src/main/java/com/example/swapit/service/UsersServiceImpl.java
  src/test/java/com/example/swapit/controller/UserControllerTest.java
  src/test/java/com/example/swapit/service/AuthServiceTest.java
  src/test/java/com/example/swapit/service/GoodsImagesServiceTest.java
  src/test/java/com/example/swapit/service/UsersServiceTest.java
Labels: ✨ feature, 🔧 fix, 🕹️ test

#36 [feat] 거래 수락/거절 API 구현
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/controller/TradesController.java
  src/main/java/com/example/swapit/domain/Trades.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/TradesService.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/controller/TradesControllerTest.java
  src/test/java/com/example/swapit/repository/TradesRepositoryTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🕹️ test

#42 Feature/chat websocket
  build.gradle
  src/main/java/com/example/swapit/config/security/SecurityConfig.java
  src/main/java/com/example/swapit/config/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/example/swapit/config/websocket/StompHandler.java
  src/main/java/com/example/swapit/config/websocket/WebSocketConfig.java
  src/main/java/com/example/swapit/controller/ChatController.java
  src/main/java/com/example/swapit/domain/ChatRooms.java
  src/main/java/com/example/swapit/domain/ChatType.java
  src/main/java/com/example/swapit/domain/Chats.java
  src/main/java/com/example/swapit/domain/dto/ChatMessageDto.java
Labels: ✨ feature, 🐚 domain

#43 [feature] 채팅방 http api 구현
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/config/security/SecurityConfig.java
  src/main/java/com/example/swapit/config/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/example/swapit/config/websocket/StompHandler.java
  src/main/java/com/example/swapit/config/websocket/StompPrincipal.java
  src/main/java/com/example/swapit/config/websocket/WebSocketConfig.java
  src/main/java/com/example/swapit/controller/ChatController.java
  src/main/java/com/example/swapit/controller/ChatWebSocketController.java
  src/main/java/com/example/swapit/domain/ChatRooms.java
  src/main/java/com/example/swapit/domain/Chats.java
  src/main/java/com/example/swapit/domain/dto/ChatDto.java
  src/main/java/com/example/swapit/domain/dto/ChatListDto.java
  src/main/java/com/example/swapit/domain/dto/ChatRoomRequestDto.java
  src/main/java/com/example/swapit/domain/dto/ChatRoomResponseDto.java
  src/main/java/com/example/swapit/domain/dto/ChatStompRequestDto.java
  src/main/java/com/example/swapit/domain/dto/ChatStompResponseDto.java
  src/main/java/com/example/swapit/domain/dto/RequesterGoodsDto.java
  src/main/java/com/example/swapit/repository/ChatRoomsRepository.java
  src/main/java/com/example/swapit/repository/ChatsRepository.java
  src/main/java/com/example/swapit/service/ChatService.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/test/java/com/example/swapit/controller/ChatControllerTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
Labels: ✨ feature, 🐚 domain, 🕹️ test

#46 [feature] 사용자 프로필 닉네임 변경
  src/main/java/com/example/swapit/controller/UserController.java
  src/main/java/com/example/swapit/domain/Users.java
  src/main/java/com/example/swapit/domain/dto/UserNicknameDto.java
  src/main/java/com/example/swapit/service/UsersService.java
  src/main/java/com/example/swapit/service/UsersServiceImpl.java
  src/test/java/com/example/swapit/controller/UserControllerTest.java
Labels: ✨ feature, 🐚 domain, 🕹️ test

#50 [feat] 신고 메일 전송 api 구현
  build.gradle
  src/main/java/com/example/swapit/controller/ReportController.java
  src/main/java/com/example/swapit/domain/dto/ReportDto.java
  src/main/java/com/example/swapit/service/ReportService.java
  src/main/java/com/example/swapit/service/ReportServiceImpl.java
  src/main/resources/application-mail.yaml
  src/main/resources/application.yaml
  src/test/java/com/example/swapit/controller/ReportControllerTest.java
  src/test/java/com/example/swapit/service/ReportServiceImplTest.java
Labels: ✨ feature, 🐚 domain, 🕹️ test, 🪴 build

#48 [feat] 알림 기능 구현
  src/main/java/com/example/swapit/common/api/ApiResponse.java
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/common/exception/GlobalExceptionHandler.java
  src/main/java/com/example/swapit/config/security/SecurityConfig.java
  src/main/java/com/example/swapit/config/websocket/StompHandler.java
  src/main/java/com/example/swapit/config/websocket/StompPrincipal.java
  src/main/java/com/example/swapit/config/websocket/WebSocketConfig.java
  src/main/java/com/example/swapit/controller/ChatWebSocketController.java
  src/main/java/com/example/swapit/controller/NotificationController.java
  src/main/java/com/example/swapit/domain/NotificationEvent.java
  src/main/java/com/example/swapit/domain/NotificationType.java
  src/main/java/com/example/swapit/domain/Notifications.java
  src/main/java/com/example/swapit/domain/TradeStatus.java
  src/main/java/com/example/swapit/domain/dto/NotificationDto.java
  src/main/java/com/example/swapit/repository/NotificationRepository.java
  src/main/java/com/example/swapit/service/ChatService.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/main/java/com/example/swapit/service/NotificationEventListener.java
  src/main/java/com/example/swapit/service/NotificationEventPublisher.java
  src/main/java/com/example/swapit/service/NotificationService.java
  src/main/java/com/example/swapit/service/NotificationServiceImpl.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/controller/TradesControllerTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
  src/test/java/com/example/swapit/service/NotificationEventPublisherTest.java
  src/test/java/com/example/swapit/service/NotificationServiceTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🔧 fix, 🎈 refactor, 🕹️ test, 🪴 build

#53 [docs] rest docs, swagger ui 도입
  build.gradle
  src/main/java/com/example/swapit/config/security/SecurityConfig.java
  src/main/java/com/example/swapit/config/security/jwt/JwtAuthenticationFilter.java
  src/main/resources/application-doc.yaml
  src/main/resources/application.yaml
  src/main/resources/static/README.MD
  src/test/java/com/example/swapit/docs/RestDocsTest.java
  src/test/java/com/example/swapit/docs/UserControllerDocsTest.java
Labels: 📜 docs, 🕹️ test, 🪴 build

#52 [feat] 리뷰 기능 구현
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/controller/ReviewController.java
  src/main/java/com/example/swapit/domain/Reviews.java
  src/main/java/com/example/swapit/domain/dto/ReviewDto.java
  src/main/java/com/example/swapit/domain/dto/ReviewListDto.java
  src/main/java/com/example/swapit/domain/dto/ReviewRequestDto.java
  src/main/java/com/example/swapit/repository/ReviewRepository.java
  src/main/java/com/example/swapit/service/ReviewService.java
  src/main/java/com/example/swapit/service/ReviewServiceImpl.java
  src/test/java/com/example/swapit/controller/GoodsControllerTest.java
  src/test/java/com/example/swapit/controller/ReviewControllerTest.java
  src/test/java/com/example/swapit/service/ReviewServiceTest.java
Labels: ✨ feature, 🐚 domain, 🕹️ test

#57 [feat] 거래 완료 api 완성
  src/main/java/com/example/swapit/controller/TradesController.java
  src/main/java/com/example/swapit/service/TradesService.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/controller/TradesControllerTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🕹️ test

#58 [build] 로컬과 서버에서의 환경변수 설정 분리
  build.gradle
Labels: 🪲 bug, 🪴 build

#60 [feat] 유저 페이지 조회 구현
  src/main/java/com/example/swapit/config/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/example/swapit/controller/UserController.java
  src/main/java/com/example/swapit/domain/dto/UserPageDto.java
  src/main/java/com/example/swapit/repository/GoodsRepository.java
  src/main/java/com/example/swapit/repository/ReviewRepository.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/UsersService.java
  src/main/java/com/example/swapit/service/UsersServiceImpl.java
  src/test/java/com/example/swapit/controller/UserControllerTest.java
  src/test/java/com/example/swapit/service/UsersServiceTest.java
Labels: ✨ feature, 🎈 refactor, 🕹️ test

#61 Feature/swap list
  src/main/java/com/example/swapit/controller/TradesController.java
  src/main/java/com/example/swapit/domain/dto/TradesRequestDto.java
  src/main/java/com/example/swapit/domain/dto/trade/BaseTradeGoodsDto.java
  src/main/java/com/example/swapit/domain/dto/trade/MyGoodsDto.java
  src/main/java/com/example/swapit/domain/dto/trade/MyRequestDto.java
  src/main/java/com/example/swapit/domain/dto/trade/ReceivedRequestDto.java
  src/main/java/com/example/swapit/domain/dto/trade/RequestGoodsImageDto.java
  src/main/java/com/example/swapit/domain/dto/trade/TradeCountProjection.java
  src/main/java/com/example/swapit/domain/dto/trade/TradesGoodsListResponseDto.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/TradesService.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/controller/TradesControllerTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🕹️ test

#64 [docs] Swagger용 Auth Controller 테스트 코드 작성
  src/test/java/com/example/swapit/docs/AuthControllerDocsTest.java
Labels: 📜 docs, 🕹️ test

#65 [feat] 젠킨스로 ci/cd 구축
  Jenkinsfile
  build.gradle
  src/main/java/com/example/swapit/config/AwsS3Config.java
  src/main/resources/application-test.yaml
  src/main/resources/application.yaml
  src/test/java/com/example/swapit/SwapitApplicationTests.java
  src/test/java/com/example/swapit/domain/JpaAuditingTest.java
  src/test/java/com/example/swapit/repository/GoodsRepositoryTest.java
  src/test/java/com/example/swapit/repository/TradesRepositoryTest.java
  src/test/java/com/example/swapit/testcontainer/BaseIntegrationTest.java
Labels: 📜 docs, 🕹️ test, 🪴 build

#67 [hotfix] aws redis 환경변수 설정 변경
  src/main/java/com/example/swapit/config/RedisConfig.java
  src/main/resources/application-aws.yaml
Labels: 🛠️ hotfix

#68 [hotfix ] aws redis 환경변수 설정 변경 (tls 설정)
  src/main/resources/application-aws.yaml
Labels: 🛠️ hotfix, 🪴 build

#69 hotfix : redis config ssl 설정 및 타임 아웃 적용
  src/main/java/com/example/swapit/config/RedisConfig.java
Labels: 🛠️ hotfix, 🪴 build

#70 Feature/write docs
  build.gradle
  src/main/java/com/example/swapit/controller/ChatController.java
  src/main/java/com/example/swapit/domain/dto/ChatDto.java
  src/main/java/com/example/swapit/domain/dto/ChatRoomGoodsDto.java
  src/main/java/com/example/swapit/domain/dto/ChatRoomListResponseDto.java
  src/main/java/com/example/swapit/service/ChatService.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/test/java/com/example/swapit/controller/ChatControllerTest.java
  src/test/java/com/example/swapit/docs/AuthControllerDocsTest.java
  src/test/java/com/example/swapit/docs/ChatControllerDocsTest.java
  src/test/java/com/example/swapit/docs/CustomDatePreprocessor.java
  src/test/java/com/example/swapit/docs/TradesControllerDocsTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
Labels: 🐚 domain, 📜 docs, 🕹️ test, 🪴 build

#72 [HOTFIX] Goods 엔티티의 placeName을 notnull값으로 변경
  src/main/java/com/example/swapit/domain/Goods.java
  src/main/java/com/example/swapit/domain/Trades.java
  src/main/java/com/example/swapit/domain/dto/GoodsRequestDto.java
  src/test/java/com/example/swapit/repository/GoodsRepositoryTest.java
  src/test/java/com/example/swapit/repository/TradesRepositoryTest.java
Labels: 🛠️ hotfix, 🕹️ test

#76 [feat] jenkinsfile 수정
  Jenkinsfile
Labels: 🐬CI / CD
