Repository swap-it-all/swap-it-be, pull requests merged in 2025-03, with the labels that each got.

#77 [FEAT] FCM 알림 전송 구현
  build.gradle
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/config/AwsS3Config.java
  src/main/java/com/example/swapit/config/FirebaseConfig.java
  src/main/java/com/example/swapit/config/RedisConfig.java
  src/main/java/com/example/swapit/controller/NotificationController.java
  src/main/java/com/example/swapit/controller/TradesController.java
  src/main/java/com/example/swapit/controller/UserController.java
  src/main/java/com/example/swapit/domain/BaseEntity.java
  src/main/java/com/example/swapit/domain/FcmToken.java
  src/main/java/com/example/swapit/domain/GoodsTradeStatus.java
  src/main/java/com/example/swapit/domain/NotificationEvent.java
  src/main/java/com/example/swapit/domain/NotificationType.java
  src/main/java/com/example/swapit/domain/Notifications.java
  src/main/java/com/example/swapit/domain/Reviews.java
  src/main/java/com/example/swapit/domain/dto/FcmTokenDto.java
  src/main/java/com/example/swapit/domain/dto/NotificationDto.java
  src/main/java/com/example/swapit/domain/dto/trade/TradesRequestDto.java
  src/main/java/com/example/swapit/repository/FcmTokenRepository.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/main/java/com/example/swapit/service/NotificationEventListener.java
  src/main/java/com/example/swapit/service/TradesService.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/main/java/com/example/swapit/service/UsersService.java
  src/main/java/com/example/swapit/service/UsersServiceImpl.java
  src/main/java/com/example/swapit/service/notification/FcmCustomNotificationServiceImpl.java
  src/main/java/com/example/swapit/service/notification/FcmNotificationService.java
  src/main/java/com/example/swapit/service/notification/FcmSimpleNotificationServiceImpl.java
  src/main/java/com/example/swapit/service/notification/NotificationEventListener.java
  src/main/java/com/example/swapit/service/notification/NotificationEventPublisher.java
  src/main/java/com/example/swapit/service/notification/NotificationService.java
  src/main/java/com/example/swapit/service/notification/NotificationServiceImpl.java
  src/main/resources/application-aws.yaml
  src/main/resources/application-dev.yaml
  src/main/resources/application-prd.yaml
  src/main/resources/application-test.yaml
  src/test/java/com/example/swapit/SwapitApplicationTests.java
  src/test/java/com/example/swapit/config/TestConfig.java
  src/test/java/com/example/swapit/controller/TradesControllerTest.java
  src/test/java/com/example/swapit/docs/TradesControllerDocsTest.java
  src/test/java/com/example/swapit/domain/JpaAuditingTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
  src/test/java/com/example/swapit/service/notification/FcmNotificationServiceTest.java
  src/test/java/com/example/swapit/service/notification/NotificationEventListenerTest.java
  src/test/java/com/example/swapit/service/notification/NotificationEventPublisherTest.java
  src/test/java/com/example/swapit/service/notification/NotificationServiceTest.java
Labels: ✨ feature, 🔧 fix, 🕹️ test

#83 [HOTFIX] 유저 프로필 변경 후, s3에서 url 받아오도록 설정 변경
  src/main/java/com/example/swapit/service/UsersServiceImpl.java
Labels: 🛠️ hotfix

#84 [hotfix] 프로필이미지 url 연결 안되는 오류 수정 및 Trades 엔티티 수정
  src/main/java/com/example/swapit/controller/UserController.java
  src/main/java/com/example/swapit/domain/Goods.java
  src/main/java/com/example/swapit/domain/Trades.java
  src/main/java/com/example/swapit/domain/dto/UserPageDto.java
  src/main/java/com/example/swapit/repository/GoodsRepository.java
  src/main/java/com/example/swapit/repository/ReviewRepository.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/ReviewServiceImpl.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/main/java/com/example/swapit/service/UsersServiceImpl.java
  src/test/java/com/example/swapit/controller/UserControllerTest.java
  src/test/java/com/example/swapit/service/ReviewServiceTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
  src/test/java/com/example/swapit/service/UsersServiceTest.java
Labels: 🐚 domain, 🔧 fix, 🛠️ hotfix

#85 [hotfix] 프로필 이미지 url 조건 검증 수정
  src/main/java/com/example/swapit/service/UsersServiceImpl.java
Labels: 🛠️ hotfix

#79 [FIX] Chatrooms와 Goods의 연관관계를 Trades 연관관계로 변경
  src/main/java/com/example/swapit/controller/ChatController.java
  src/main/java/com/example/swapit/controller/TradesController.java
  src/main/java/com/example/swapit/domain/ChatRooms.java
  src/main/java/com/example/swapit/domain/ChatType.java
  src/main/java/com/example/swapit/domain/TradeStatus.java
  src/main/java/com/example/swapit/domain/Trades.java
  src/main/java/com/example/swapit/domain/dto/ChatRoomAddRequestFromGoodDto.java
  src/main/java/com/example/swapit/domain/dto/ChatRoomAddRequestFromTradeDto.java
  src/main/java/com/example/swapit/domain/dto/ChatRoomResponseDto.java
  src/main/java/com/example/swapit/domain/dto/trade/InProgressCountDto.java
  src/main/java/com/example/swapit/domain/dto/trade/MyGoodsDto.java
  src/main/java/com/example/swapit/domain/dto/trade/TradeMyGoodsRequestDto.java
  src/main/java/com/example/swapit/repository/ChatRoomsRepository.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/ChatNotificationService.java
  src/main/java/com/example/swapit/service/ChatService.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/main/java/com/example/swapit/service/TradesService.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/controller/ChatControllerTest.java
  src/test/java/com/example/swapit/controller/TradesControllerTest.java
  src/test/java/com/example/swapit/docs/ChatControllerDocsTest.java
  src/test/java/com/example/swapit/docs/CustomDatePreprocessor.java
  src/test/java/com/example/swapit/docs/TradesControllerDocsTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🐚 domain, 🔧 fix

#89 [fix] 응답을 success=fail로 반환하는 것인데 @Transactional에 의해 전체 롤백에 의해 401 에러 처리 해결
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
Labels: 🛠️ hotfix

#91 [FEAT] image url 을 s3 -> cloud front 도메인에 연결
  src/main/java/com/example/swapit/domain/Users.java
  src/main/java/com/example/swapit/domain/dto/ReviewDto.java
  src/main/java/com/example/swapit/domain/dto/UserNicknameDto.java
  src/main/java/com/example/swapit/domain/dto/UserProfileDto.java
  src/main/java/com/example/swapit/service/AuthServiceImpl.java
  src/main/java/com/example/swapit/service/AwsS3Service.java
  src/main/java/com/example/swapit/service/AwsS3ServiceImpl.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/main/java/com/example/swapit/service/ReviewServiceImpl.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/main/java/com/example/swapit/service/UsersServiceImpl.java
  src/main/resources/application-aws.yaml
  src/main/resources/application-dev.yaml
  src/main/resources/application-prd.yaml
  src/main/resources/application-test.yaml
  src/test/java/com/example/swapit/service/AuthServiceTest.java
  src/test/java/com/example/swapit/service/AwsS3ServiceTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
  src/test/java/com/example/swapit/service/ReviewServiceTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🔧 fix, 🫡 chore

#93 [FIX] 내 물건 목록 조회 api를 pathvariable로 나눔
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/controller/ChatController.java
  src/main/java/com/example/swapit/controller/ChatWebSocketController.java
  src/main/java/com/example/swapit/controller/GoodsController.java
  src/main/java/com/example/swapit/domain/Goods.java
  src/main/java/com/example/swapit/domain/dto/Dto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatListDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomAddRequestFromGoodDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomAddRequestFromTradeDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomGoodsDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomListResponseDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomResponseDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatStompRequestDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatStompResponseDto.java
  src/main/java/com/example/swapit/domain/dto/good/GoodsDetailDto.java
  src/main/java/com/example/swapit/domain/dto/good/GoodsDto.java
  src/main/java/com/example/swapit/domain/dto/good/GoodsImageDto.java
  src/main/java/com/example/swapit/domain/dto/good/GoodsListDto.java
  src/main/java/com/example/swapit/domain/dto/good/GoodsRequestDto.java
  src/main/java/com/example/swapit/domain/dto/good/MyGoodDto.java
  src/main/java/com/example/swapit/repository/GoodsRepository.java
  src/main/java/com/example/swapit/service/ChatNotificationService.java
  src/main/java/com/example/swapit/service/ChatService.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/main/java/com/example/swapit/service/GoodsService.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/test/java/com/example/swapit/controller/ChatControllerTest.java
  src/test/java/com/example/swapit/controller/GoodsControllerTest.java
  src/test/java/com/example/swapit/docs/ChatControllerDocsTest.java
  src/test/java/com/example/swapit/docs/GoodsControllerDocsTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
  src/test/java/com/example/swapit/service/GoodServiceTest.java
Labels: 🔧 fix, 🫡 chore, 📜 docs, 🕹️ test

#94 [Fix] my-requets api 응답에 tradesId 추가
  src/main/java/com/example/swapit/domain/dao/TradeGoodsDao.java
  src/main/java/com/example/swapit/domain/dto/trade/MyRequestDto.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/controller/TradesControllerTest.java
  src/test/java/com/example/swapit/docs/TradesControllerDocsTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: 🐚 domain, 🔧 fix, 🕹️ test

#96 [HOTFIX] 이미지 조회 에러 해결
  src/main/java/com/example/swapit/service/AwsS3ServiceImpl.java
  src/main/resources/application-prd.yaml
  src/test/java/com/example/swapit/service/AwsS3ServiceTest.java
Labels: 🛠️ hotfix, 🫡 chore, 🕹️ test

#100 [fix] 채팅방 물건 api 응답에 채팅 상대 닉네임 추가
  src/main/java/com/example/swapit/controller/ChatController.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomInfoDto.java
  src/main/java/com/example/swapit/service/ChatService.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/test/java/com/example/swapit/controller/ChatControllerTest.java
  src/test/java/com/example/swapit/docs/ChatControllerDocsTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
Labels: 🔧 fix, 🕹️ test

#101 [Feat] 채팅 안읽은 개수 구현
  src/main/java/com/example/swapit/controller/ChatController.java
  src/main/java/com/example/swapit/controller/ChatWebSocketController.java
  src/main/java/com/example/swapit/domain/ChatRooms.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomInfoDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomResponseDto.java
  src/main/java/com/example/swapit/domain/dto/chat/ReadReceiptRequestDto.java
  src/main/java/com/example/swapit/repository/ChatsRepository.java
  src/main/java/com/example/swapit/service/ChatSendService.java
  src/main/java/com/example/swapit/service/ChatService.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/controller/ChatControllerTest.java
  src/test/java/com/example/swapit/docs/ChatControllerDocsTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🐚 domain, 🔧 fix, 🕹️ test

#103 [feat] 물건 상세 조회 api에서 swap 조회 후, 응답에 같이 반환
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/config/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/example/swapit/domain/dto/good/GoodsDetailDto.java
  src/main/java/com/example/swapit/domain/dto/good/TradeInGoodDetailDto.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/CurrentUserService.java
  src/main/java/com/example/swapit/service/CurrentUserServiceImpl.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/controller/GoodsControllerTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: ✨ feature, 🔧 fix, 🎈 refactor, 🕹️ test

#104 [hotfix] 채팅방 목록 조회 채팅방 Id 추가
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomResponseDto.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/test/java/com/example/swapit/docs/ChatControllerDocsTest.java
Labels: 🛠️ hotfix

#105 [hotfix] 사용자가 동일한 targetGoods에 거래 요청 불가
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
Labels: 🛠️ hotfix

#107 hotfix : spring 서버 내부에서 hibernate가 createdAt을 설정할 때 타임존을 seoul로 변경
  src/main/resources/application.yaml
Labels: 🛠️ hotfix

#109 [fix] 내 물건에 요청 받은 물건 목록, 내가 요청한 목록 거절되지 않았을 때 조회 조건 추가
  src/main/java/com/example/swapit/repository/TradesRepository.java
Labels: 🔧 fix

#112 [feat] 구글, 카카오 회원 탈퇴 신청
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/controller/AuthController.java
  src/main/java/com/example/swapit/domain/ChatRooms.java
  src/main/java/com/example/swapit/domain/Chats.java
  src/main/java/com/example/swapit/domain/Notifications.java
  src/main/java/com/example/swapit/domain/Users.java
  src/main/java/com/example/swapit/domain/WithdrawReasons.java
  src/main/java/com/example/swapit/domain/dto/WithdrawDto.java
  src/main/java/com/example/swapit/repository/ChatsRepository.java
  src/main/java/com/example/swapit/repository/FcmTokenRepository.java
  src/main/java/com/example/swapit/repository/GoodsImagesRepository.java
  src/main/java/com/example/swapit/repository/NotificationRepository.java
  src/main/java/com/example/swapit/repository/ReviewRepository.java
  src/main/java/com/example/swapit/repository/TokensRepository.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/repository/WithdrawReasonsRepository.java
  src/main/java/com/example/swapit/service/AuthService.java
  src/main/java/com/example/swapit/service/AuthServiceImpl.java
  src/main/java/com/example/swapit/service/AwsS3Service.java
  src/main/java/com/example/swapit/service/AwsS3ServiceImpl.java
  src/main/java/com/example/swapit/service/UserWithdrawCompletedEvent.java
  src/test/java/com/example/swapit/controller/AuthControllerTest.java
  src/test/java/com/example/swapit/service/AuthServiceTest.java
Labels: ✨ feature, 🐚 domain, 🕹️ test

#114 [docs] app guide 문서 제작 및 배포
  build.gradle
  src/main/java/com/example/swapit/controller/DocsController.java
  src/main/resources/static/docs/policy/privacy-policy.html
  src/main/resources/templates/docs/process/withdrawal-process.html
Labels: 📜 docs

#115 [fix] 배포된 서버는 jar로 배포된 서버는 static 정적 리소스를 읽지 못해서 경로 수정
  src/main/java/com/example/swapit/controller/DocsController.java
  src/main/resources/templates/docs/policy/privacy-policy.html
Labels: 🔧 fix, 📜 docs

#117 [fix] 채팅방 정보 조회에 거래 정보 추가
  src/main/java/com/example/swapit/domain/dto/chat/ChatRoomInfoDto.java
  src/main/java/com/example/swapit/domain/dto/good/GoodsDetailDto.java
  src/main/java/com/example/swapit/domain/dto/good/TradeInfoDto.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/test/java/com/example/swapit/controller/ChatControllerTest.java
  src/test/java/com/example/swapit/controller/GoodsControllerTest.java
  src/test/java/com/example/swapit/docs/ChatControllerDocsTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
Labels: 🐚 domain, 🔧 fix, 🕹️ test

#120 [fix] 중복 거래 요청 방지 및 로그 추가
  .github/PULL_REQUEST_TEMPLATE.md
  src/main/java/com/example/swapit/common/exception/ErrorCode.java
  src/main/java/com/example/swapit/domain/Users.java
  src/main/java/com/example/swapit/repository/TradesRepository.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/test/java/com/example/swapit/service/AuthServiceTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
Labels: 🔧 fix, 📜 docs

#121 [bug] 스왑 요청 횟수 조회 시 거절된 스왑 제외
  src/main/java/com/example/swapit/repository/TradesRepository.java
Labels: 🪲 bug, 🔧 fix

#124 [fix] 알림에서 deeplink 대신 relatedData로 변경해서 응답, 테이블 수정
  src/main/java/com/example/swapit/domain/NotificationEvent.java
  src/main/java/com/example/swapit/domain/NotificationType.java
  src/main/java/com/example/swapit/domain/Notifications.java
  src/main/java/com/example/swapit/domain/dto/NotificationDto.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/main/java/com/example/swapit/service/notification/FcmCustomNotificationServiceImpl.java
  src/main/java/com/example/swapit/service/notification/NotificationEventPublisher.java
  src/test/java/com/example/swapit/controller/NotificationControllerTest.java
  src/test/java/com/example/swapit/docs/NotificationControllerDocsTest.java
  src/test/java/com/example/swapit/service/notification/FcmNotificationServiceTest.java
  src/test/java/com/example/swapit/service/notification/NotificationEventListenerTest.java
  src/test/java/com/example/swapit/service/notification/NotificationEventPublisherTest.java
  src/test/java/com/example/swapit/service/notification/NotificationServiceTest.java
Labels: 🐚 domain, 🔧 fix, 🕹️ test

#127 [hotfix] 채팅방의 거래가 null일 때 처리
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
Labels: 🪲 bug, 🛠️ hotfix

#129 [fix] trade 유니크 제약 조건 제거 + 제약 검증을 repository로 이동
  src/main/java/com/example/swapit/domain/Trades.java
  src/main/java/com/example/swapit/domain/dao/ConflictTradeResult.java
  src/main/java/com/example/swapit/repository/good/CustomGoodsRepository.java
  src/main/java/com/example/swapit/repository/good/CustomGoodsRepositoryImpl.java
  src/main/java/com/example/swapit/repository/good/GoodsRepository.java
  src/main/java/com/example/swapit/repository/trade/TradeQueryRepository.java
  src/main/java/com/example/swapit/repository/trade/TradeQueryRepositoryImpl.java
  src/main/java/com/example/swapit/repository/trade/TradesRepository.java
  src/main/java/com/example/swapit/service/AuthServiceImpl.java
  src/main/java/com/example/swapit/service/ChatServiceImpl.java
  src/main/java/com/example/swapit/service/GoodsServiceImpl.java
  src/main/java/com/example/swapit/service/ReviewServiceImpl.java
  src/main/java/com/example/swapit/service/TradesServiceImpl.java
  src/main/java/com/example/swapit/service/UsersServiceImpl.java
  src/test/java/com/example/swapit/repository/GoodsRepositoryTest.java
  src/test/java/com/example/swapit/repository/TradesRepositoryTest.java
  src/test/java/com/example/swapit/service/AuthServiceTest.java
  src/test/java/com/example/swapit/service/AwsS3ServiceTest.java
  src/test/java/com/example/swapit/service/ChatServiceTest.java
  src/test/java/com/example/swapit/service/GoodServiceTest.java
  src/test/java/com/example/swapit/service/GoodsImagesServiceTest.java
  src/test/java/com/example/swapit/service/ReviewServiceTest.java
  src/test/java/com/example/swapit/service/TradesServiceTest.java
  src/test/java/com/example/swapit/service/UsersServiceTest.java
Labels: 🔧 fix, 🫡 chore, 🎈 refactor, 🕹️ test, 📈 pref
